<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper">
    <div class="page-content">
           
    <div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Student Profile</div>
							</div>
							<%= render "layouts/breadcrumbs" %>
						</div>
					</div>
					<div class="row">
					<div class="col-md-12 col-sm-12">
					
					<div class="profile-sidebar">
					<div class="card">
						<div class="card-body no-padding height-9">
							<div class="row">
								<div class="profile-userpic">
									<img src="../assets/img/user/user3.jpg" class="img-responsive" alt="">
								</div>
							</div>
							<div class="profile-usertitle">
								<div class="profile-usertitle-name">Shalu </div>
							</div>
							<ul class="list-group list-group-unbordered">
								<li class="list-group-item">
									<b>Registration No.</b> <span class="pull-right">00001</span>
								</li>
								<li class="list-group-item">
									<b>Registration Date</b> <span class="pull-right">03-08-2024</span>
								</li>
								<li class="list-group-item">
									<b> Date of Birth</b> <span class="pull-right">03-08-1996</span>
								</li>
								<li class="list-group-item">
								<b> Course</b> <span class="pull-right">BSC</span>
							</li>
							<li class="list-group-item">
							<b> Year</b> <span class="pull-right">2024</span>
						</li>
							</ul>
							<!-- END SIDEBAR USER TITLE -->
						
						</div>
					</div>

					<div class="card">
									<div class="card-head">
										<header>Address</header>
									</div>
									<div class="card-body no-padding height-9">
										<div class="row text-center m-t-10">
											<div class="col-md-12">
												<p>456, Pragri flat, varacha road, Surat
													<br> Gujarat, India.</p>
											</div>
										</div>
									</div>
								</div>
								</div>
								<!-- END BEGIN PROFILE SIDEBAR -->

								<!-- BEGIN PROFILE CONTENT -->
							<div class="profile-content">
								<div class="row">
									<div class="card">
										<div class="card-topline-aqua">
											<header></header>
										</div>
										<div class="white-box">
											<!-- Nav tabs -->
											<div class="p-rl-20">
												<ul class="nav customtab nav-tabs" role="tablist">
													<li class="nav-item"><a href="#tab1" class="nav-link active"
															data-bs-toggle="tab">Details</a></li>
													
												</ul>
											</div>
											<!-- Tab panes -->
											<div class="tab-content">
												<div class="tab-pane active fontawesome-demo" id="tab1">
													<div id="biography">
														<div class="row">
															<div class="col-md-3 col-6 b-r"> <strong>Full Name</strong>
																<br>
																<p class="text-muted">Shalu</p>
															</div>
															<div class="col-md-3 col-6 b-r"> <strong>Mobile</strong>
																<br>
																<p class="text-muted">(123) 456 7890</p>
															</div>
															<div class="col-md-4 col-6 b-r"> <strong>Email</strong>
																<br>
																<p class="text-muted">test@example.com</p>
															</div>
															<div class="col-md-2 col-6"> <strong>Gender</strong>
																<br>
																<p class="text-muted">Male</p>
															</div>
														</div>
													
														<h4 class="font-bold">Fee Structure</h4>
														
														<div class="table-scrollable">
														<table class="table">
														  <thead>
															<tr>
															  <th>S.No</th>
															  <th>Component</th>
															  <th>1st Sem</th>
															  <th>2nd Sem</th>
															  <th>3rd Sem</th>
															  <th>4th Sem</th>
															 
															</tr>
														  </thead>
														  <tbody>
																				 
															<tr>
															<tr>
															  <td>1</td>
															  <td>Admission Fee</td>
															  <td></td>
															  <td></td>
															  <td></td>
															  <td></td>
															
															</tr>
														  
														  </tbody>
														</table>
													  </div>
														<br>
														
													</div>
												</div>
												<div class="tab-pane" id="tab2">
													
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END PROFILE CONTENT -->


                    </div>
					</div>
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>