
                          <% i = 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= get_fee_list_component(component,'1',year,course)%></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
              
                <a href="<%=root_url%>fee_list/add_fee_structure" class="tblEditBtn " >
                  <i class="fa fa-pencil"></i>
                </a>
                <a class="tblDelBtn">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
             <% 
								i+=1			
												   end
												   else
                 
               %>
               <tr>
               <td colspan="4">No record(s) found.</td>
               </tr>
            <%
               end
                 %>

