<tbody>
  <% i = 1 %>
  <% if mydata && mydata.length > 0 %>
    <% mydata.each do |attend| %>
      <tr>
        <td><%= i %></td>
        <td><%= attend.att_stdnt_code %></td>
        <td class="text-center">
          <input type="checkbox" name="attendance[<%= attend.att_stdnt_code %>]" value="Y" <%= 'checked' if attend.att_attnd == 'Y' %> style="width: 20px;height: 25px;" />
        </td>
      </tr>
      <% i += 1 %>
    <% end %>
  <% end %>
</tbody>
